<body class="homepage sixteen columns">
  <div class="wrapper-about">
    <div class="about twelve columns">
      <p>For centuries coffeehouses have been a central meeting house for intellectuals and creatives to gather and discuss the politics of the day, controversial topics and conceive revolutionary ideas and projects. In 1864 Edmund Halley, Christopher Wren, and Robert Hooke met at their usual London coffee house to deliberate over the intracasies of celestial motion. From that meeting Isaac Newton's Principia Mathematica, the basis of modern science, was born. French Englightenment figures Voltaire, Rousseau, and Diderot frequented Parisian coffee houses and arguably conceived of the Encyclopedie there.</p>

      <p>Coffee houses today no longer carry on this tradition. When you go to a coffee house now, everyone is preoccupied on their laptops, eyes buried in a book, or listening to their headphones. Wouldn't it be cool to recreate that amazing environment?</p>

      <p>Coffee Talk is an innovative new app that allows you to meet new people in your city who share similar interests with you. Brainstorm revolutionary entrepreneurial ventures, discuss politics, or just meet someone new that shares your interests. Sign up, update your interests then make a meetup request. We'll take care of the rest. Our state-of-the-art matching algorithm will set up a meeting with you and two other people at one of the best coffee houses in your neighborhood.</p>

      <p>Give it a try <a href="<%= new_user_path %>">today!</a></p>

    </div>
  </div>
</body>
