<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to Coffee Talk, <%= @user.first_name %></h1>
  <p>
    You have successfully signed up for CoffeeTalk.com. Your username is <%= @user.email %>. <br>
  </p>
  <p>
    To login to the site, just follow this link <%= @url %>
  </p>
  <p>
    Now I'm all feklehmt. Start meeting people and talk amongst yourselves. I'll give you a topic. The Holy Roman Empire was neither Holy, nor Roman, nor an Empire.
  </p>
  <p>Discuss.</p>

  <p>Linda Richman</p>
</body>
</html>
