<body class="homepage sixteen columns">
  <div class="wrapper-new">
    <div class="signup nine columns">
      <h1>Sign Up for Coffee Talk</h1>
      <%= render "form" %>
    </div>
  </div>
</body>
