<div class="interest-index-wrap ten columns">
<h1>All Interests</h1>
<h4><%= link_to 'Add new Interest', new_interest_path %></h4>
<% @interests.each do |interest| %>

  <ul>
    <li><%= link_to interest.name, interest %></li>
  </ul>

<% end %>
</div>
