<h1>Interest: <%= @interest.name %></h1>

<h4>Users with this Interest:</h4>
<p>Coming soon!</p>

<%= link_to 'edit', edit_interest_path(@interest) %> <%= link_to 'delete', @interest, method: 'delete', data: { confirm: 'Are you sure? '} %>
